@charset "UTF-8";

#listForm{
	width: 640px;	
	border: 1px solid red;
	margin: auto; 
 }
 
  h2{
	text-align: center;
}

table{
	width: 550px;
	margin: auto; 	
}

.tr_top{
	background-color: lime;
}


.div_empty{
	text-align: center;
	background-color:blue;
} 

.td_command{
	text-align: right;
}

#todayImageList{
	text-align: center;
}

#productImage{
	width: 150px;
	height: 150px;
	border: none;
}

#cartImage{
	width: 70px;
	height: 70px;
	border: none;
}

#select{
	text-align: right;
}

#commandList{
	text-align: center;
}

#upImage{
	width: 15px;
}

#downImage{
	width: 15px;
}
